@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IUpdateService updateService

<div class="containerFooter">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4 class="h4Footer">CEPI</h4>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4 class="h4Footer">À propos</h4>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4 class="h4Footer">Liens Utiles</h4>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <p  class="pFooter"><a class="liensUtiles" href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank">Nous contacter</a></p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <p class="pFooter">Conditions générales</p>
            <p class="pFooter">Mentions légales</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <p>Aucun lien utile</p>
        </div>
    </div>
</div>




@code {

}
