@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IUpdateService updateService

<footer class="containerFooter">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4 class="h4Footer">CEPI</h4>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4 class="h4Footer">2023 copyright</h4>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4 class="h4Footer">Nos partenaires</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <p class="pFooter"><a class="liensUtiles" href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank">Nous contacter</a></p>
            <p class ="pFooter">Contact: +1(418)541-2205</p>
            <p class ="pFooter">E-Mail: aidecepi@gmail.com</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <p class="pFooter">Tout droits réservés</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img class="LogoFooter" src="/RessourceVisuel/Logo Cegep.jpg"/>
            <img class="LogoFooter" src="/RessourceVisuel/LogoDICJ.jpg"/>
        </div>
    </div>
</footer>




@code {

}
