@using StimulusFrontEnd.Services;
@using static StimulusFrontEnd.Components.Connector
@using static StimulusFrontEnd.Components.Cercle
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntim
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IUpdateService updateService


<div class="row mt-2">
    <div class="col">
        <svg class="bg-light" width="100%" height="500" xmlns="http://www.w3.org/2000/svg"
        >
            @foreach (var item in Nodes)
            {
                <Cercle Node="@item"></Cercle>
            }
        </svg>
    </div>
</div>

@code {
    private HttpClient httpClient;
    private Client client;

    public List<Noeud> Nodes { get; set; } = new();
    protected override async void OnInitialized()
    {
        var handler = new HttpClientHandler();
        handler.ClientCertificateOptions = ClientCertificateOption.Manual;
        handler.ServerCertificateCustomValidationCallback =
            (httpRequestMessage, cert, cetChain, policyErrors) =>
            {
                return true;
            };
        httpClient = new HttpClient(handler);
        httpClient.BaseAddress = new Uri("https://p22e1api-dicjprojet.cegepjonquiere.ca/");
        client = new Client(httpClient);
        var id = client.GraphesGETAsync(3).Result;
        Nodes = client.NoeudsAllAsync().Result.ToList();
    }

}
