@using StimulusFrontEnd.Services.Base
@using StimulusFrontEnd.Services.Authentification
@using StimulusFrontEnd.Providers

@page "/admin"

<h1>Admin</h1>

<div>
    <AuthorizeView Roles="Administrateur">
        <Authorized>
            <h2>Page admin autorisée</h2>
            <div>
                <h3>Liens Test gkrt4</h3>
                <br />
                <a href="/index">Redirection /index</a>
                <br />
                <a href="/prof">Redirection /prof</a>
                <br />
                <a href="/groupe">Redirection /groupe</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <h3>Page admin non autorisée</h3>
            <RedirectToLogin></RedirectToLogin>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {


}
