@page "/graphe/aide"
@inject NavigationManager NavigationManager
@layout MainLayout

<PageTitle>PageAide</PageTitle>

<AuthorizeView Roles="Etudiant, Administrateur">
    <Authorized>
        <div class="title">
            <h1>Page d'aide</h1>
        </div>
        <div id="pageFlex">
            <fieldset id="sectionGauche">
                <div id="text">
                    <div>
                        <h3>Utilisation du graphe :</h3>
                        <p>Pour accéder au contenu des nœuds, vous devez cliquer sur le nœud sans déplacer votre souris.</p>
                        <hr />
                    </div>
                    <div>
                        <h3>Déplacer le graphe :</h3>
                        <p>Pour déplacer le graphique, maintenez le clic gauche à l'intérieur du graphe, déplacez votre souris dans la direction opposée à celle que vous voulez prendre, puis relâchez le clic gauche de la souris.</p>
                        <hr />
                    </div>
                    <div>
                        <h3>Zoomer dans le graphe :</h3>
                        <p>Pour zoomer dans le graphe, maintenez la touche Maj▲ de votre clavier et utilisez la roulette de votre souris vers l'avant pour augmenter le zoom et vers l'arrière pour réduire le zoom. Vous pouvez aussi utiliser les boutons + et - situés en haut du graphe.</p>
                        <hr />
                    </div>
                    <div>
                        <h3>Réinitialiser :</h3>
                        <p>Pour réinitialiser la visualisation du graphe à son état initial lors du chargement de la page, vous pouvez utiliser le bouton "Réinitialiser" situé en haut du graphe.</p>
                    </div>
                </div>
            </fieldset>
            <div id="sectionDroite">
                <fieldset id="noeudsBloc">
                    <legend>Couleur des nœuds</legend>
                    <svg class="svgAide">
                        <circle cx="20" cy="20" r="20" fill="rgb(140,140,140)" />
                    </svg>
                    <p>Si un nœud est gris, c'est qu'il est indisponible.</p>
                    <svg class="svgAide">
                        <circle cx="20" cy="20" r="20" fill="rgb(228, 231, 245)"></circle>
                    </svg>
                    <p>Si un nœud est blanc, c'est qu'il est disponible mais pas encore consulté.</p>
                    <svg class="svgAide">
                        <circle cx="20" cy="20" r="20" fill="rgb(199,160,53)"></circle>
                    </svg>
                    <p>Si un nœud est jaune, c'est qu'il est disponible et qu'il a été consulté au moins une fois.</p>
                    <svg class="svgAide">
                        <circle cx="20" cy="20" r="20" fill="rgb(28, 90, 47)"></circle>
                    </svg>
                    <p>Si un nœud est vert, c'est qu'il est complété.</p>
                </fieldset>
                <fieldset id="infoDeSurvol">
                    <legend>Information de survol</legend>
                    <p>Nom : Nom du nœud</p>
                    <p>Pts : Somme des points des pages associées au nœud</p>
                    <p>Desc : Description du nœud</p>
                    <p>Prérequis : Liste des nœuds qui doivent être complétés avant que le nœud survolé soit disponible</p>
                </fieldset>
            </div>
        </div>
        <button @onclick="MoveToGraphe" id="boutonAide">Retour au graphe</button>
    </Authorized>
    <NotAuthorized>
        <h3>Vous n'êtes pas autorisé</h3>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>

@code {

    private void MoveToGraphe()
    {
        NavigationManager.NavigateTo("/index");
    }
}
