﻿@using StimulusFrontEnd.Services.Base
@using StimulusFrontEnd.Services.Authentification
@using StimulusFrontEnd.Providers
@using StimulusFrontEnd.Services;

@inject IAuthenticationService authService
@inject ApiAuthenticationStateProvider apiAuthentificationStateProvider
@inject IClient httpClient
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IJSRuntime JsRunTime
@page "/creerGraph"

@inject MouseService mouseSrv

<h3>Page pour creer un  nouveau graphe </h3>


@code {

}
