@page
@model StimulusFrontEnd.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Erreur.</h1>
            <h2 class="text-danger">Une erreur est apparu pendant le traitement de votre requête.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>Mode développeur</h3>
            <p>
                Changer pour l'environnement <strong>Development</strong> affiche des informations détaillées sur l'erreur occurente.
            </p>
            <p>
                <strong>L'environnement Development ne doit pas être activé pour une application déployée.</strong>
                Cela pourrait afficher des informations sensibles sur les exceptions aux utilisateurs finaux.
                Pour du débogage local, utilisez l'environnement <strong>Development</strong> en mettant la variable d'environnement <strong>ASPNETCORE_ENVIRONMENT</strong> sur <strong>Development</strong>
                et redémarrer l'application.
            </p>
        </div>
    </div>
</body>

</html>
