@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IJSRuntime JS
@page "/index"
@layout EtudiantLayout

<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Administrateur">
    <h1>Autorisé, mais redirection car pas de graph lié</h1>
</AuthorizeView>
<AuthorizeView Roles="Etudiant">
    <Authorized>
        <StimulusFrontEnd.Components.GrapheComponent></StimulusFrontEnd.Components.GrapheComponent>
    </Authorized>
    <NotAuthorized>
        <h3>Vous n'êtes pas autorisé</h3>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>


@code {

    
}