@using StimulusFrontEnd.Services.Base
@using StimulusFrontEnd.Services.Authentification
@using StimulusFrontEnd.Providers
@layout LoginLayout
@page "/prof"
@inject NavigationManager NavManager
@inject IJSRuntime JsRunTime

<AuthorizeView Roles="Professeur, Administrateur">
    <Authorized>
        <h3 style="color:white" >PageMenuProfesseur</h3>
        <a class="btn btn-outline-light" role="button" aria-pressed="true" onclick=@PageGroupe>Page Création de groupe</a>
    </Authorized>
    <NotAuthorized>
        <h3>Vous n'êtes pas autorisé</h3>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>


@code {
    private async void PageGroupe()
    {
        NavManager.NavigateTo("/groupe");
    }


}
