@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@using StimulusFrontEnd.Services.Base
@using StimulusFrontEnd.Services.Authentification
@using StimulusFrontEnd.Providers
@layout ProfesseurLayout
@page "/prof"
@inject NavigationManager NavManager
@inject IJSRuntime JsRunTime

<AuthorizeView Roles="Professeur, Administrateur">
    <Authorized>     
        <StimulusFrontEnd.Components.GraphComponentProf></StimulusFrontEnd.Components.GraphComponentProf>
    </Authorized>
    <NotAuthorized>
        <h3>Vous n'êtes pas autorisé</h3>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>


@code {


}
