body {
}

.monaco-editor-container { /* for all editor instances */
    height: 300px;
}

.focused {
    display: block;
}

.hidden {
    display: none;
}

.fileSelector {
    display: flex;
    flex-direction: row;
    overflow-x: scroll; 
}