@inherits LayoutComponentBase

<div class="page">
    <main>
        <HeaderComponent/>
        <article class="">
            @Body
        </article>
        <FooterComponent/>
    </main>
</div>
@code {

}
