@inject NavigationManager Navigation

<h3>RedirectToAdmin</h3>

@code {
    protected override void OnInitialized()
    {
        //verifier la navigation
        Navigation.NavigateTo("/admin");
    }

}